<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyCompany</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>controllers.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>controllers.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deps</display-name>
    <servlet-name>Deps</servlet-name>
    <servlet-class>controllers.Deps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deps</servlet-name>
    <url-pattern>/deps</url-pattern>
  </servlet-mapping>
  <servlet>
		<description></description>
		<display-name>Employees</display-name>
		<servlet-name>Employees</servlet-name>
		<servlet-class>controllers.Employees</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Employees</servlet-name>
		<url-pattern>/emps</url-pattern>
	</servlet-mapping>
	  <servlet>
    <description></description>
    <display-name>Vacs</display-name>
    <servlet-name>Vacs</servlet-name>
    <servlet-class>controllers.Vacs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vacs</servlet-name>
    <url-pattern>/vacs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>controllers.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>host</param-name>
  	<param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
  	<param-name>port</param-name>
  	<param-value>587</param-value>
  </context-param>
  <context-param>
  	<param-name>user</param-name>
  	<param-value>messagess40@gmail.com</param-value>
  </context-param>
  <context-param>
  	<param-name>pass</param-name>
  	<param-value>MessageForYou</param-value>
  </context-param>
</web-app>